<footer class="footer-info">
    <div class="container-fluid">
        <div class="d-flex flex-row position-fixed bottom-0 start-50 translate-middle-x p-2">
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    Contact Us
                </div>
            </div>
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    Contact Us
                </div>
            </div>
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    Contact Us
                </div>
            </div>
        </div>
    </div>
</footer>
