<footer class="footer-info" id="footer">
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center p-2">
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    Content
                </div>
            </div>
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    More Content
                </div>
            </div>
            
            <div class="footer-objects">
                <div class="p-2 text-nowrap">
                    Maybe More Content
                </div>
            </div>
        </div>
    </div>
</footer>
