<div class="d-block p-2", id: "whole-header">
  <div class="d-flex flex-row justify-content-between mb-3">
    
    
    <div class="p-2 text-nowrap", id: "header-object1">
      <%= link_to "<button>Joel Sullivan</button>".html_safe, root_path, :id => "button_id", :class => "button_class" %>
    </div>
    
    <div class='d-flex', id: "header-object3">
      <div class="p2 text-nowrap">
      <%= link_to "<button>About Me</button>".html_safe, home_about_path, :id => "button_id", :class => "button_class" %>
      </div>

      <div class="p2 text-nowrap">
      <%= link_to "<button>Recent Projects</button>".html_safe, root_path, :id => "button_id", :class => "button_class" %>
      </div>
    </div>


  </div>
</div>