<div class="d-block p-2">
  <div class="d-flex flex-row justify-content-around mb-3 whole-header">
    
    
    <div class="p-2 text-nowrap">
      <div class="p2">
        <button href="<%= root_path %>" class="header-object1">
          Joel Sullivan
        </button>
      </div>
    </div>

    <div class="p-2 text-nowrap">
      <div class='d-flex text-nowrap'>
        <div class="p2 text-nowrap">
          <button href="<%= home_about_path %>" class="header-object1">
            About
          </button>
        </div>
      </div>
    </div>


    <div class="p-2 text-nowrap">
      <div class='d-flex text-nowrap'>
        <div class="p2 text-nowrap">
          <button href="<%= home_projects_path %>" class="header-object1">
            Projects
          </button>        
        </div>
      </div>
    </div>


  </div>
</div>