<div class="d-block p-2">
  <div class="d-flex flex-row justify-content-around mb-3 whole-header">
    
    
    <div class="p-2 text-nowrap">
      <div class="p2">
      <%= link_to "<button>Joel Sullivan</button>".html_safe, root_path, :class => "header-object1" %>
      </div>
    </div>

    <div class="p-2 text-nowrap">
      <div class='d-flex text-nowrap'>
        <div class="p2 text-nowrap header-object1">
          <%= link_to "<button>About Me</button>".html_safe, home_about_path %>
        </div>
      </div>
    </div>


    <div class="p-2 text-nowrap">
      <div class='d-flex text-nowrap'>
        <div class="p2 text-nowrap header-object1">
          <%= link_to "<button>Recent Projects</button>".html_safe, root_path %>
        </div>
      </div>
    </div>


  </div>
</div>