<div class="d-block p-2">
  <div class="d-flex flex-row justify-content-between mb-3">
    <div class="header-object1">
      <div class="p-2 text-nowrap">
        <%= link_to "<button>Joel Sullivan</button>".html_safe, root_path, :id => "button_id", :class => "button_class" %>
      </div>
    </div>

    <div class="header-object2">
      <div class="p-2 text-nowrap position-absolute top-0 start-50 translate-middle-x">
        <div>
          <%= link_to_image("scs_logo.png", root_path, width: "50%", id: "header-logo-image")%>
        </div>
      </div>
    </div>
    
    <div class="header-object3">
      <div class='d-flex'>
          <div class="p2 text-nowrap">
          <%= link_to "<button>About Me</button>".html_safe, home_about_path, :id => "button_id", :class => "button_class" %>
          </div>

          <div class="p2 text-nowrap">
          <%= link_to "<button>Recent Projects</button>".html_safe, root_path, :id => "button_id", :class => "button_class" %>
          </div>
        </div>

    </div>
  </div>
</div>