<div class="d-inline body-left"> 
  <div class="left-body-content">
    <div class="container left-body-main-text">
      <div class="d-block left-body-main-text-first text-center">
        <div class="left-body-main-text-first-text">
          Hi! My name is
        </div>
      </div>
      <div class="d-block left-body-main-text-second text-center">
      Joel Sullivan
      </div>
      <div class="d-block left-body-main-text-third text-center">UI, UX, Full Stack</div>
    </div>
    <div class="d-flex left-body-lower-content">
      <div class="d-inline left-body-lower-content1">
        <div class="d-flex left-body-lower-content-picture">
          <%= image_tag 'mimoji.png', :class => "left-body-lower-content-picture1" %>
        </div>
        <div class="d-flex justify-content-center left-body-lower-content-box">
          <div class="d-flex left-body-lower-content-verbiage">
            I would love to connect!
          </div>
          <button class="btn left-body-lower-content-button">Contact</button>
        </div>
      </div>
    </div>
  </div>
</div>
