<div id="whole-body-content">
  <div class="d-flex flex-column">

    <div class="first-body">
      <div class="p2 d-flex flex-row justify-content-center">
        <div class="p2">
          Hi! My name is Joel, thanks for visiting!
        </div>
      </div>
    </div>

    <div id="whole-second-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="second-body-verbiage">
          My Career
          <h2>Began in the Monterey Bay Area</h2>
        </div>
        <div class="p2" id="second-body-image">
          <img src="assets/aptos_view.jpg" style="width: 400px; padding-top: 40px; padding-right: 40px; padding-left: 40px; padding-bottom: 40px;">
        </div>
      </div>
    </div>

    <div id="whole-third-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="third-body-image">
          <img src="assets/joel_jumping.jpg" style="width: 400px; padding-top: 40px; padding-right: 40px; padding-left: 40px; padding-bottom: 40px;">
        </div>
        <div class="p2" id="third-body-verbiage">
          My Life
          <h2>From California.... to DC!</h2>
        </div>
      </div>
    </div>
  </div>
</div>