<div id="whole-body-content">
  <div class="d-flex flex-column">

    <div class="first-body">
      <div class="p2 d-flex flex-row justify-content-center">
        <div class="p2">
          Hi! My name is Joel, thanks for visiting!
        </div>
      </div>
    </div>

    <div id="whole-second-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="second-body-verbiage">
          My Career
          <h2>Began in the Monterey Bay Area</h2>
        </div>
        <div class="p2" id="second-body-image">
          <%= image_tag "aptos_view.jpg", id:"body-image" %>
        </div>
      </div>
    </div>

    <div id="whole-third-body">
      <div class="p2 d-flex flex-row justify-content-between">
        <div class="p2" id="third-body-image">
          <%= image_tag "joel_jumping.jpg", id:"body-image" %>
        </div>
        <div class="p2" id="third-body-verbiage">
          My Life
          <h2>From California.... to DC!</h2>
        </div>
      </div>
    </div>
  </div>
</div>