<div class="d-block body-right ">
  <div class="d-block projects-body-content">


   <div class="d-flex projects-first-block">
    <div class="d-inline-flex first-block-element">
      <%= link_to image_tag("aptos-view.jpg", :class => "img-fluid first-block-element-picture"), home_animals_path %>
    </div>

    <div class="d-inline-flex first-block-second-element">
      <div class="first-block-second-element-text">
        Blog: </br>A place for things that come to mind
      </div>
    </div>
   </div>
  </div>

  <div class="d-block projects-body-content">


   <div class="d-flex projects-first-block">
    <div class="d-inline-flex first-block-element">
      <%= link_to image_tag("code-pic.png", :class => "img-fluid first-block-element-picture"), home_array_path %>
    </div>

    <div class="d-inline-flex first-block-second-element">
      <div class="first-block-second-element-text">
        Development:</br>
        A place for small projects
      </div>
    </div>
   </div>
  </div>
</div>