/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_homepage
 */


@keyframes slide-down {
    0% {
        transform:translateY(-172.1%);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: .9;
    }
}
@keyframes zone-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 90%;
    }
}


@mixin slide-down1($animation-time) {
    animation: slide-down $animation-time ease-in-out both;
}
@mixin slide-down2($animation-time, $delay-time) {
    animation: slide-down $animation-time ease-in-out both $delay-time;
}
@mixin zone-in($animation-time, $delay-time) {
    animation: zone-in $animation-time ease-in-out both $delay-time;
}


@font-face {
    font-family: 'KaiseiDecol';
    src: url('KaiseiDecol.ttf');
}
@font-face {
  font-family: 'LobsterTwo';
  src: url('LobsterTwo.tff');
}



$smallfont: 1.8vw;
$mediumfont: 3.8vw;
$mediumfontcolor: rgb(85, 85, 85);
$largefont: 6.75vw;

$mobilesmallfont: 4vw;
$mobilemediumfont: 7vw;
$mobilelargefont: 12vw;






@media (max-width: 450vw) {
  html, body {
    height: auto;
    
    

    .whole-body {
      min-height: 100vh;
      background: rgb(80,133,193);
      background: linear-gradient(0deg, rgba(247,230,217,1) 0%, rgba(161,209,204,1) 27%, rgba(67,160,197,1) 67%, rgba(80,133,193,1) 100%);
      font-family: 'LobsterTwo';    

      .body-left {
        padding-right: 0px;
        padding-left: 0px;
        height: 95vw;
        width: 100%;
        z-index: 50;

        .left-body-content {
          margin-top: 20vh;
          .left-body-main-text {

            .left-body-main-text-first {
              font-size: $mobilesmallfont;
              font-weight: bold;

              .left-body-main-text-first-text {
                margin-bottom: -3vw;
                margin-right: 33vw;
              }
              
            }
            .left-body-main-text-second {
              font-size: $mobilelargefont;
              margin-bottom: -5vw;
            }
            .left-body-main-text-third {
              font-size: $mobilemediumfont;
              color: $mediumfontcolor;
              margin-left: 12vw;
            }
          }       
        }

        .left-body-lower-content {
          margin-left: 15vw;
          margin-right: 5vw;

          .left-body-lower-content1 {
            

            .left-body-lower-content-picture1 {
              width: 20vw;
              z-index: -1;
              margin-left: 30vw;
            }

            .left-body-lower-content-box {
              border-radius: 40px;
              border-color: darkgray;
              border-width: .1vw;
              border-style: solid;
              padding-left: 4vw; 
              padding-top: 3.5vw;
              padding-bottom: 3.5vw;
              padding-right: 4vw;
              width: 70vw;
              background-color: #F7E6D9;
              margin-top: -.5vw;
              z-index: 1;
              font-weight: bold;
              font-size: $mobilesmallfont;

              .left-body-lower-content-verbiage {
                font-weight: bold;
                font-size: $mobilesmallfont;
              }
              .left-body-lower-content-button {
                background-color: #3C87C7;
                border-style: solid;
                border-radius: 10px;
                border-color: darkgray;
                margin-left: 3vw;
                font-weight: bold;
                font-size: 2.5vw;
              }
            }
          } 
        }
      }


      .body-right {
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
        width: 100%;

        .right-body-content {
          font-size: 5vw;

          .cheveron-container {
            margin-left: 46vw;


            .chevron {
              position: relative;
              margin-left: 50vw;
              display: block;
              height: 25vw;
              @include zone-in(1721ms, 721ms);
              

            }
            .chevron::before,
            .chevron::after {
              position:absolute;
              display:block;
              content:"";
              border:5vw solid transparent; 
            }
            .chevron::before {
              top:0;
              border-top-color:#F7E6D9;
            }
            .chevron::after {
              top:-10px; 
              border-top-color:#707070; 
            }
          }

          .right-body-content-about {
            padding-top: 3vh;
            padding-bottom: 3vh;
            visibility: hidden;

            .right-body-content-about-main {
              font-size: $mobilemediumfont;
              color: $mediumfontcolor;
              line-height: 6.5vh;
              padding-left: 16vw;
              margin-right: 10vw;
              margin-bottom: 6vh;
            }
            .right-body-content-about-personal {
              padding-top: 2.5vw;
              font-size: $mobilesmallfont;
              line-height: 5vw;
              padding-left: 30vw;
              margin-right: 2.5vw;
              font-weight: bold;
            }
            .right-body-content-about-technical {
              padding-top: 2.5vw;
              font-size: $mobilesmallfont;
              padding-left: 30vw;
              margin-right: 2.5vw;
              line-height: 5vw;
              font-weight: bold;
              margin-bottom: 6vh;
            }
          }

          .right-body-content-grid {
            margin-top: 2vw;
            visibility: hidden;
          }

          .pictures-row {
            margin-top: .8vw;
            text-align: center;
            margin-right: 0;
            margin-left: 0;
            padding-left: 7.5vw;
            padding-right: 7.5vw;
          }
          .col-container {
            height: 42vw;
            width: 35vw;
            border-top-left-radius: 10%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 10%;
            margin-right: .6vw;
            margin-left: .6vw;
            background-color: rgb(143, 190, 200);
          }
          .col-container-inner {
            height: 40vw;
            width: 40vw;
            border-top-left-radius: 10%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 10%;
            background-color: #F7E6D9;
            margin-top: .5vw;
            margin-bottom: 2.5vw;
          }
          .col-container-inner-picture {
            padding-top: 2.5vw;
            border-top-left-radius: 10%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 10%;
            width: 50vw;
          }
        }
      }
    }
  }
}
@media (min-width: 901px) {
  html, body {
    height: auto;
    

    .whole-body {
      min-height: 100vh;
      height: 100vh;
      font-family: 'LobsterTwo';    

      .body-left {
        background: rgb(80,133,193);
        background: linear-gradient(190deg, rgba(80,133,193,1) 0%, rgba(113,160,213,1) 100%);
        padding-right: 0px;
        padding-left: 0px;
        height: 100vh;
        width: 50%;
        position: fixed;

        .left-body-content {
          visibility: hidden;
          margin-top: 20vh;
          .left-body-main-text {

            .left-body-main-text-first {
              font-size: $smallfont;
              height: auto;
              font-weight: bold;

              .left-body-main-text-first-text {
                margin-bottom: -5%;
                height: auto;
                margin-right: 45%;
              }
              
            }
            .left-body-main-text-second {
              font-size: $largefont;
              height: auto;
              margin-bottom: -5%;
              font-family: ''
            }
            .left-body-main-text-third {
              font-size: $mediumfont;
              color: $mediumfontcolor;
              height: auto;
              margin-left: 27%;
            }
          }       
        }

        .left-body-lower-content {
          visibility: hidden;
          height: auto;
          margin-top: 2.5vh;
          margin-left: 15vw;
          margin-right: 5vw;

          .left-body-lower-content1 {
            height: auto;
            

            .left-body-lower-content-picture1 {
              height: auto;
              width: 10vw;
              z-index: -1;
              margin-left: 10vw;
            }

            .left-body-lower-content-box {
              border-radius: 40px;
              border-color: darkgray;
              border-width: .1vw;
              border-style: solid;
              padding-left: .8vw; 
              padding-top: 1.3vw;
              padding-bottom: 1.3vw;
              padding-right: .8vw;
              width: 30vw;
              background-color: #F7E6D9;
              margin-top: -.5vw;
              z-index: 100;
              font-weight: bold;
              font-size: 1vw;
              height: auto;

              .left-body-lower-content-verbiage {
                font-weight: bold;
                font-size: 1.4vw;
                padding-top: .5vw;
              }
              .left-body-lower-content-button {
                background-color: #3C87C7;
                border-style: solid;
                border-radius: 10px;
                border-width: .1vw;
                border-color: darkgray;
                margin-left: 3vw;
                font-weight: bold;
                font-size: 1.25vw;
              }
            }
          } 
        }
      }


      .body-right {
        background: rgb(80,133,193);
        background: linear-gradient(0deg, rgba(80,133,193,1) 0%, rgba(67,160,197,1) 27%, rgba(161,209,204,1) 67%, rgba(247,230,217,1) 100%);
        padding-left: 0px;
        padding-right: 0px;
        height: auto;
        width: 50%;
        margin-left: 50%;
        padding-bottom: .75%;

        .right-body-content {
          padding-top: 90vh;
          font-size: 5vw;

          .cheveron-container {
            visibility: hidden;
            margin-left: 50%;


            .chevron {
              position: relative;
              margin-left: 50%;
              display:block;
              height:50px; 
              @include zone-in(1721ms, 721ms);

            }
            .chevron::before,
            .chevron::after {
              position:absolute;
              display:block;
              content:"";
              border:25px solid transparent; 
            }
            .chevron::before {
              top:0;
              border-top-color:#F7E6D9; 
            }
            .chevron::after {
              top:-10px; 
              border-top-color:#707070; 
            }
          }

          .right-body-content-about {
            visibility: hidden;
            padding-top: 3vw;
            padding-bottom: 3vw;

            .right-body-content-about-main {
              font-size: $mediumfont;
              color: $mediumfontcolor;
              line-height: 7.5vh;
              padding-left: 5vw;
              margin-right: 5vw;
            }
            .right-body-content-about-personal {
              padding-top: 2.5vw;
              font-size: $smallfont;
              line-height: 1.7vw;
              padding-left: 18vw;
              margin-right: 2.5vw;
              font-weight: bold;
            }
            .right-body-content-about-technical {
              padding-top: 2.5vw;
              font-size: $smallfont;
              padding-left: 18vw;
              margin-right: 2.5vw;
              line-height: 1.7vw;
              font-weight: bold;
            }
          }

          

          .right-body-content-grid {
            margin-top: 2vw;
            visibility: hidden;
          }
          .swiper {
            width: 600px;
            height: 300px;
          }

          .pictures-row {
            margin-top: .8vw;
            text-align: center;
            margin-right: 0;
            margin-left: 0;
            padding-left: 7.5vw;
            padding-right: 7.5vw;
          }
          .col-container {
            height: 14.8vw;
            width: 14.8vw;
            border-top-left-radius: 10%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 10%;
            margin-right: .6vw;
            margin-left: .6vw;
            background-color: rgb(143, 190, 200);
          }
          .col-container-inner {
            height: 14vw;
            width: 14vw;

            background-color: #F7E6D9;
            margin-top: 4vw;
            margin-bottom: 2.5vw;
          }
          .col-container-inner-picture {
            padding-top: 1vw;
            border-top-left-radius: 10%;
            border-top-right-radius: 40%;
            border-bottom-left-radius: 40%;
            border-bottom-right-radius: 10%;
            width: 50vw;
          }
        }
      }
    }
  }
}
