/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@font-face {
    font-family: 'LobsterTwo';
    src: url('LobsterTwo-Regular.ttf');
}

 #body {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: rgb(7, 2, 1);
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'LobsterTwo';
    padding-bottom: 25px;
    z-index: -1;
}

.background-pic {
    opacity: 35%;
    z-index: -1;
    width: 100%;
    height: auto;
    z-index: -1;
    position: absolute;
}

button {
    color: white;
    background-color: black;
    text-align: center;
    margin-right: 6px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-top: 18px;
}

.header-object1 {
    font-size: 24px;
}
.header-object2 {
    
}
.header-object3 {
    font-size: 24px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;

}
.header-logo-image {
    border-radius: 50px;
    opacity: 85%;
    margin-top: 10px;
    transition: 500ms;
}
.header-logo-image:hover {
    transform: scalex(-1)
}
.header-logo-image:active {
}

#whole-body-content {
    padding-top: 70px;
    font-size: 52px;
    z-index: 100;

}

.first-body {

}

#whole-second-body {
    border-color: rgba(0, 255, 0, 0.54);
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    right: 50px;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 50px;
    box-shadow: 5px 10px 8px 10px #00941e;

}

#second-body-verbiage {
    padding-left: 90px;
    padding-top: 130px;
}

#second-body-image {
}

#whole-third-body {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    right: 50px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 300px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 8px 10px #8f1111;
}

#third-body-verbiage {
    padding-right: 200px;
    padding-top: 130px;
}

#third-body-image {
}



.footer-info {
    color: white;
    opacity: 60%;
    font-size: 15px;
    bottom: 10px;

}

.footer-objects {
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#footer {
    position: static;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}