/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@keyframes slide-down {
    0% {
        transform:translateY(-72.1%);
        opacity: 0;
    }
    100% {
        transform:translateY(0);
        opacity: .9;
    }
}
@mixin slide-down1($animation-time) {
    animation: slide-down $animation-time ease-in-out both;
}
@mixin slide-down2($animation-time, $delay-time) {
    animation: slide-down $animation-time ease-in-out both $delay-time;
}

@keyframes zone-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 90%;
    }
}
@mixin zone-in($animation-time, $delay-time) {
    animation: zone-in $animation-time ease-in-out both $delay-time;
}

@font-face {
    font-family: 'LobsterTwo';
    src: url('LobsterTwo-Regular.ttf');
}

#body {
    overflow: scroll;
    width: flex;
    height: 100%;
    background-color: rgb(7, 2, 1);
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -1;
}
button {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
}
.whole-header {
    padding-right: 15%;
    padding-left: 15%;
    @include zone-in(1500ms, 1500ms);
}
#header-logo-image {
    border-radius: 50px;
    opacity: 85%;
    margin-top: 1%;
    transition: 500ms;
    width: 15%;
    height: auto;
}
.header-logo-image:hover {
    transform: scalex(-1)
}
.header-object1 {
    opacity: 35%;
    transition: 721ms;
    margin-right: 10%;
    border-radius: 10%;
}
.header-object1:hover {
    opacity: 85%;
}

#whole-body-content {
    margin-top: 10%;
    font-size: 500%;
    z-index: 100;
    font-family: 'LobsterTwo';
}
.first-body-content {
    font-size: 500%;
}

.J {
    @include slide-down1(721ms);
}
.o {
    @include slide-down2(721ms, 75ms);
}
.e {
    @include slide-down2(721ms, 150ms);
}
.l0 {
    @include slide-down2(721ms, 225ms);
    padding-right: 2%;
}
.space {
    @include slide-down2(721ms, 300ms);
}
.S {
    @include slide-down2(721ms, 375ms);
}
.u {
    @include slide-down2(721ms, 450ms);
}
.l1 {
    @include slide-down2(721ms, 525ms);
}
.l2 {
    @include slide-down2(721ms, 600ms);
}
.i {
    @include slide-down2(721ms, 675ms);
}
.v {
    @include slide-down2(721ms, 750ms);
}
.a {
    @include slide-down2(721ms, 825ms);
}
.n {
    @include slide-down2(721ms, 900ms);
}

#whole-second-body {
    z-index: 100;
    border-color: rgba(255, 255, 255, 0.788);
    border-style: solid;
    border-width: 2px;
    border-radius: 32px;
    margin-left: 19%;
    box-shadow: 5px 8px 8px 8px #ffffff46;
    width: 50%;
    background-image: url('body-3-image.png');
    background-size: cover;
    opacity: 90%;
    transition: 721ms;
    padding-bottom: 20%;
    text-align: left;
}
#whole-second-body:hover {
    opacity: 100%;
    box-shadow: 5px 8px 8px 8px #4cc0ffa9;
}

#whole-third-body {
    border-color: rgba(255, 255, 255, 0.746);
    border-style: solid;
    border-width: 2px;
    border-radius: 32px;
    margin-left: 29%;
    box-shadow: 5px 8px 8px 8px #ffffff46;
    width: 50%;
    background-image: url('aptos_view.jpg');
    background-size: cover;
    opacity: 90%;
    transition: 721ms;
    padding-bottom: 20%;
    text-align: left;
}

#second-body-verbiage {
    font-size: 64%;
}
#body-image {
    max-width: 75%; 
    padding-top: 4%; 
    padding-right: 4%; 
    padding-left: 4%; 
    padding-bottom: 4%;
}

#whole-third-body:hover {
    opacity: 100%;
    box-shadow: 5px 8px 8px 8px hsla(124, 100%, 61%, 0.537);

}

#third-body-verbiage {
    padding-left: 10%;
    padding-top: 13%;
    font-size: 65%;
}
.footer-info {
    color: white;
    opacity: 60%;
    font-size: 15px;
    bottom: 1%;

}
.footer-objects {
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
}
#footer {
    position: static;
    bottom:0;
    width:100%;
    height:6%;   /* Height of the footer */
}
